<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test">
    <test name="Authorization">
        <classes>
            <class name="BasicCheck.Authorization"/>
        </classes>
    </test>
    <test name="Radio">
        <classes>
            <class name="BasicCheck.RadioTest"/>
        </classes>
    </test>
    <test name="Yandex">
        <classes>
            <class name="BasicCheck.YandexTest"/>
        </classes>
    </test>
</suite>